*{
	margin: 0;
	padding: 0;
}
.section{
	overflow: hidden;
	position: relative;
}
.first{
	padding-top: 80px;
}
.first .logo{
	width: 251px;
	height: 186px;
	background: url(../images/logo.png) no-repeat;
	margin: 0 auto 80px;
}
.first .text{
	text-align: center;
}
.first .text img{
	margin: 0 25px;
	opacity: 0;
}
.first .info{
	margin-top: 50px;
	height: 49px;
	background: url(../images/info_1.png) no-repeat center;
}
.first.current .text img{
	transition: all 1s;
	margin: 0;
	opacity: 1;
}
.second{
	padding: 0 100px;

	
}
.second>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.second .shield{
	width: 428px;
	height: 498px;
}
.second .shield img{
	float: left;
}
.second .shield img:nth-child(1){
	transform: rotate(230deg) translate(-50px,150px);
}
.second .shield img:nth-child(2){
	transform: rotate(60deg) translate(50px,200px);
}
.second .shield img:nth-child(3){
	transform: rotate(74deg) translate(270px,200px);
}
.second .shield img:nth-child(4){
	transform: rotate(274deg) translate(-270px,200px);
}
.second .shield img:nth-child(5){
	transform: rotate(74deg) translate(-270px,400px);
}
.second .shield img:nth-child(6){
	transform: rotate(174deg) translate(270px,200px);
}
.second .shield img:nth-child(7){
	transform: rotate(80deg) translate(270px,200px);
}
.second .shield img:nth-child(8){
	transform: rotate(174deg) translate(-300px,-200px);
}
.second .shield img:nth-child(9){
	transform: rotate(-74deg) translate(-270px,-200px);
}
.second.current .shield img{
	transition: all 1s;
	transform: none;
}
.second .info{
	width: 635px;
	height: 309px;
	background: url(../images/info_2.png) no-repeat;
}
.third{
	padding: 0 60px;
	position: relative;
}
.third>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.third .info{
	width: 631px;
	height: 278px;
	background: url(../images/info_3.png) no-repeat;
}
.third .circle{
	width: 453px;
	height: 449px;
	background: url(../images/circle.png) no-repeat;
	animation: rot 5s linear infinite;
}
@keyframes rot{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
.third .rocket{
	width: 203px;
	height: 204px;
	background: url(../images/rocket.png) no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(500px,210px);
}
.third.current .rocket{
	transition: all 1s;
	transform: translate(1000px,-300px);
}
.fourth{
	padding: 0 80px;
}
.fourth>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.fourth .search{
	/*width: 529px;*/
	height: 320px;
	background: url(../images/search.png) no-repeat top;
	position: relative;
	width: 0;
}
.fourth .key{
	/*width: 100px;*/
	width: 0;
	height: 66px;
	background: url(../images/key.png) no-repeat;
	position: absolute;
	left: 20px;
	top: 25px;
	
}
.fourth .wrap{
	width: 100%;
	/*height: 372px;*/
	height: 0;
	position: absolute;
	top: 53px;
	background: url(../images/result.png) no-repeat;
}
.fourth .info{
	width: 612px;
	height: 299px;
	background: url(../images/info_4.png) no-repeat;
}
.fourth.current .search{
	transition: all 1s;
	width: 529px;
}
.fourth.current .key{
	transition: all 1s 0.5s steps(5);
	width: 100px;
}
.fourth.current .wrap{
	transition: all 1s 2s;
	height: 372px;
}
.fifth{
	padding-top: 30px;
}
.fifth>div{
	display: flex;
	flex-direction: column;

}
.fifth .info{
	height: 134px;
	background: url(../images/info_5.png) no-repeat center;
}
.fifth .browser{
	width: 1004px;
	height: 468px;
	background-color: rgba(255,255,255,0.3);
	margin: 30px auto 0;
	position: relative;
}
.fifth .leftline,.fifth .rightline{
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #fff;
	opacity: 0;
}
.fifth .leftline{
	left: 0;
	transform: translateY(-100%);
	
}
.fifth .rightline{
	right: 0;
	transform: translateY(100%);
}
.topline,.bottomline{
	width: 100%;
	height: 1px;
	background-color: #FFF;
	position: absolute;
	left: 0;
}
.topline{
	top: 0;
	transform: translateX(100%);
	opacity: 0;
}
.bottomline{
	bottom: 0;
}
.fifth .line{
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 30px;
	left: 0;
	background-color: #fff;
}
.fifth .toolbar{
	width: 100%;
	height: 79px;
	position: absolute;
	top: 0;
	background: url(../images/toolbar.png) no-repeat;
	opacity: 0;
}
.fifth .toolbar .box{
	width: 920px;
	height: 26px;
	position: absolute;
	top: 30px;
	left: 70px;
	overflow: hidden;
}
.fifth .toolbar .box span{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #fff;
	display: block;
	transform: translateX(-100%);
}
.fifth .extra{
	width: 100%;
	height: 30px;
	background: url(../images/extra.png) no-repeat right;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
}
.fifth.current .leftline,
.fifth.current .rightline,
.fifth.current .topline,
.fifth.current .toolbar,
.fifth.current .extra,
.fifth.current .box span{
	transition: all 1s;
	transform: none;
	opacity: 1;
}
